.channels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'youtube inst spotify';
    justify-items: center;
}
.channels a{
    text-decoration: none;
    color: crimson;
}
.youTube {
    grid-area: youtube;
}
.instagram {
    grid-area: inst;
}
.spotify {
    grid-area: spotify;
}